body {
  height: 100vh;
  font-family: monospace;
  background-color: black;
}

.start .start-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  color: #7c9dcf;
}
.start .start-box {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c9dcf;
}
.start .start-box .select-animal {
  display: flex;
}
.start .start-box .select-animal .animal-box {
  border: 1px solid rgba(9, 9, 9, 0.124);
  font-size: 70px;
  text-align: center;
  filter: brightness(60%);
  transition: all 0.2s;
  padding: 15px;
}
.start .start-box .select-animal .animal-box:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  filter: brightness(95%);
}
.start .start-box .select-animal .animal-box .animal-image {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.level-box {
  color: #7c9dcf;
}

.main-game {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  background: #ace5ff;
  position: relative;
}
.main-game .header {
  padding: 15px;
}
.main-game .header .header-bars {
  display: flex;
  justify-content: space-around;
}
.main-game .header .outbox {
  width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-game .header .outbox .txt {
  font-size: 12px;
  text-align: center;
}
.main-game .header .outbox .box {
  border: 1px solid rgba(0, 0, 0, 0.1294117647);
  height: 25px;
  background-color: white;
}
.main-game .header .outbox .box .box-color {
  height: 100%;
}
.main-game .header .outbox button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  color: rgba(0, 0, 0, 0.233);
  transition: all 0.1s;
}
.main-game .header .outbox button:hover {
  color: black;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.main-game .bottom {
  height: 80px;
  background-color: #afefaf;
  position: relative;
}
.main-game .bottom .your-animal {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 25px;
}
.main-game .sun {
  position: absolute;
  top: 30%;
  left: 10%;
}
.main-game .img-animation {
  animation: sunSpin 5s infinite linear;
}
.main-game .sun-img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-game .img-moon {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(-40deg);
}
.main-game .night-text {
  color: gold;
  text-align: center;
  font-size: 20px;
}

.d-none {
  display: none;
}

.animation-move {
  animation: moveAnimal 15s infinite linear;
}

.disable {
  pointer-events: none;
  filter: brightness(110%);
}

.nightbg {
  background-color: #004ab9;
}

.results .result-box {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  background-color: #7c9dcf;
}
.results .result-box .play-again-btn {
  background: transparent;
  border: 1px solid rgba(232, 232, 232, 0.693);
  color: rgba(236, 236, 236, 0.782);
  padding: 5px 15px;
  transition: all 0.1s;
}
.results .result-box .play-again-btn:hover {
  color: black;
  border-color: black;
}
.results .result-box .result-info {
  width: 80%;
  text-align: center;
}

.fun-points {
  color: #7c9dcf;
}

.game-box {
  background-color: whitesmoke;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.game-box .cell {
  border: 1px solid lightgrey;
}
.game-box .color {
  background-color: rgb(177, 251, 221);
}

@keyframes moveAnimal {
  0% {
    transform: translateX(0) scaleX(1);
  }
  40% {
    transform: translateX(180px) scaleX(1);
  }
  41% {
    transform: translateX(180px) scaleX(-1);
  }
  80% {
    transform: translateX(-180px) scaleX(-1);
  }
  81% {
    transform: translateX(-180px) scaleX(1);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}
@keyframes sunSpin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */