body {
    height: 100vh;
    font-family: monospace;
}

.start {
    .start-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
    }

    .start-box {
        height: 500px;
        width: 500px;
        border: 1px solid black;

        .select-animal {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;
            padding: 15px;

            .animal-box {
                border: 1px solid rgba(9, 9, 9, 0.124);
                width: 100px;
                height: 100px;
                font-size: 70px;
                text-align: center;
                filter: brightness(80%);
                transition: all 0.2s;

                &:hover {
                    cursor: pointer;
                    border: 1px solid rgb(0, 0, 0);
                    filter: brightness(95%);
                }
            }
        }
    }
}

.main-game {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background: azure;

    .header {
        padding: 15px;

        .header-bars {
            display: flex;
            justify-content: space-around;
        }

        .outbox {
            width: 30%;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .txt {
                font-size: 12px;
                text-align: center;
            }

            .box {
                border: 1px solid black;
                height: 25px;

                .box-color {
                    height: 100%;
                }
            }

            button {
                border: none;
                background-color: transparent;
                border-bottom: 1px solid rgba(0, 0, 0, 0.233);
                color: rgba(0, 0, 0, 0.233);
                transition: all 0.1s;

                &:hover {
                    color: black;
                    border-bottom: 1px solid rgb(0, 0, 0);
                }
            }
        }
    }

    .bottom {
        height: 80px;
        background-color: #659565;
        position: relative;

        .your-animal {
            height: 100px;
            width: 100px;
            position: absolute;
        }
    }
}

.d-none {
    display: none;
}

.animation-move {
    animation: moveAnimal 15s infinite linear;
}


@keyframes moveAnimal {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(180px);
    }

    80% {
        transform: translateX(-180px);
    }

    100% {
        transform: translateX(0);
    }

}