body {
    height: 100vh;
    font-family: monospace;
}

.start {
    .start-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
    }

    .start-box {
        height: 500px;
        width: 500px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        .select-animal {
            display: flex;


            .animal-box {
                border: 1px solid rgba(9, 9, 9, 0.124);
                font-size: 70px;
                text-align: center;
                filter: brightness(80%);
                transition: all 0.2s;
                padding: 15px;

                &:hover {
                    cursor: pointer;
                    border: 1px solid rgb(0, 0, 0);
                    filter: brightness(95%);
                }

                .animal-image {
                    width: 100px;
                }
            }
        }
    }
}

.main-game {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background: #f0ffff;

    .header {
        padding: 15px;

        .header-bars {
            display: flex;
            justify-content: space-around;
        }

        .outbox {
            width: 30%;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .txt {
                font-size: 12px;
                text-align: center;
            }

            .box {
                border: 1px solid black;
                height: 25px;

                .box-color {
                    height: 100%;
                }
            }

            button {
                border: none;
                background-color: transparent;
                border-bottom: 1px solid rgba(0, 0, 0, 0.233);
                color: rgba(0, 0, 0, 0.233);
                transition: all 0.1s;

                &:hover {
                    color: black;
                    border-bottom: 1px solid rgb(0, 0, 0);
                }
            }
        }
    }

    .bottom {
        height: 80px;
        background-color: #659565;
        position: relative;

        .your-animal {
            height: 100px;
            width: 100px;
            position: absolute;
        }
    }
}

.d-none {
    display: none;
}

.animation-move {
    animation: moveAnimal 15s infinite linear;
}

.disable {
    pointer-events: none;
    filter: brightness(110%);
}

.nightbg {
    background-color: #004ab9;
}

.button-nigth {
    color: yellow !important;
}


@keyframes moveAnimal {
    0% {
        transform: translateX(0) scaleX(1);
    }

    40% {
        transform: translateX(180px) scaleX(1);
    }

    41% {
        transform: translateX(180px) scaleX(-1);
    }

    80% {
        transform: translateX(-180px) scaleX(-1);
    }

    81% {
        transform: translateX(-180px) scaleX(1);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}




.results {
    .result-box {
        height: 500px;
        width: 500px;
        border: 1px solid black;

        .play-again-btn {
            background: transparent;
            border: 1px solid lightgrey;
            color: grey;
            padding: 5px 15px;
            transition: all 0.1s;

            &:hover {
                color: black;
                border-color: black;
            }
        }
    }
}